@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body{
	 font-family: "Noto Sans TC", sans-serif;	
	 background: #FBFBFB;
	 color: #000; 
	 font-weight: 500;
	 line-height: 1.5;
}
img{	
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.wrap{
    max-width: 100%;    
    margin-left: auto;
    margin-right: auto;    
	padding: 0 12px;
}
.banner{
	width:100%;
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #6C757D ;		
}
.banner .banner-menu-ul{
    display: flex;
	justify-content: center;
	gap:40px;
}
.menu-li a{
	color: inherit;
	text-decoration: none;
	font-size: 28px;
	font-weight: 700;
}

.home {
	width:100% ;
	display: flex;
	gap: 0 24px;
	border-bottom: 1px solid #6C757D ;	
}
.home .home-left{
	width: 50%;
	height: auto;
	aspect-ratio: 1.48125/1;
}
.home-left img{
	width: 100%;
}

.home-right{
	display: flex;	
}
.home-right-text{
	margin: 0;	
	display: flex;
	flex-direction: column;
	justify-content: center;	
}
.home-right-text .dt{
	line-height: 1.5;	
}
.home-right-text .hastag{	
	font-size: 24px;
	color:#0027D5;	
	margin: 0 0 8px 0;
	
}
.home-right-text .title{
	font-size: 28px;
	font-weight: 700;
	color:#000;
	margin:0;
}
.home-right-text .highlight{	
	display: inline-block;	
	font-weight: 700;	
	background-color: #0027D5;
	color:#fff;			
	height: auto;	
	border-radius: 40px;	
	width:auto;
	padding: 6px 12px;
	text-align: center;
}

@media (max-width: 768px) {
  .home{
	flex-wrap: wrap;
	gap: 48px 0;
  }	
  .home-left img {
    content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/blog-content/About%20Section.png?raw=true");
  }
} 
/*內文*/
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 80px 0;
	border-bottom: 1px solid #6C757D ;	
}
.content{		
 width:33.125%;
 height: auto;
}
@media (max-width:768px) {
  .content{	
	width:100%;
  }	 
} 
.content .photo{
	width: 100%;
	height: auto;
	aspect-ratio: 1.9875/1;
	margin-bottom: 24px;
}
.photo .img01{
	width: 100%;
}
@media (max-width:768px) {
	.photo .img01{
		content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/blog-content/content1.png?raw=true");
	}
} 
.photo .img02{
	width: 100%;
}
@media (max-width:768px) {
	.photo .img02{
		content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/blog-content/content2.png?raw=true");
	}
} 
.photo .img03{
	width: 100%;
}
@media (max-width:768px) {
	.photo .img03{
		content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/blog-content/content3.png?raw=true");
	}
} 
.photo .img04{
	width: 100%;
}
@media (max-width:768px) {
	.photo .img04{
		content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/blog-content/content4.png?raw=true");
	}
} 
.content .phgra{
	margin-bottom: 48px;
}
.phgra .ph-h2{
	font-size: 28px;
	font-weight: 700;
	color: #0027D5;
	margin-bottom: 24px;

}
.content .text-section{
	margin-bottom: 24px;	
} 

.text-section .text-h3{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 12px;
}
.text-section .text-inner{
	margin-bottom: 8px;
}
.text-ol{
	list-style: decimal;	
	list-style-position: inside;  	
}
.text-ol li{
	text-indent: -1em; /* 縮回來讓段落和標點對齊 */
    padding-left: 1em;  /* 再往右推段落本體 */
}
.text-ul{
	list-style:disc;
	list-style-position: inside;  	
}
.text-ul li{
	text-indent: -1.5em; /* 縮回來讓段落和標點對齊 */
    padding-left: 1.5em;  /* 再往右推段落本體 */
}
.text-high-light{
	color: #0027D5;
}
.little-tip{
	font-weight: 700;
	padding: 24px;
	background: #EDEDED;
	border-radius: 24px;
}
.text-href{
	color: #0027D5;
}
.text-href:hover{
	text-decoration: none;
	color:#fff;
	background: #0027D5;
}
.pager{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.btn-left-style{		
	width : 108px;
	padding: 8px 16px;			
	border:1px solid #4B4B4B;	
	border-radius: 40px;
	font-family: inherit;	
	text-align:  center;
	background: url(../images/left-arrow.png) no-repeat 10px center/24px;
}
.btn-left-style:hover{		
	border: 2px solid #0027D5;
	color:#fff ;
	background: #0027D5;
}
.btn-right-style{		
	width : 108px;
	padding: 8px 16px;			
	border:1px solid #4B4B4B;	
	border-radius: 40px;
	font-family: inherit;	
	text-align:  left;
	background: url(../images/right-arrow.png) no-repeat 66px center/24px;
}
.btn-right-style:hover{		
	border: 2px solid #0027D5;
	color:#fff ;
	background: #0027D5;
}
/*表尾*/
.footer{
	width:100%;
}
.footer-top{
	width:100%;
    text-align: center;    
    padding:80px 312px ;	    	
	display: flex;
	justify-content: space-between;	
	align-items: center;
	font-size: 32px;
}
.footer-top .footer-ul{
	display: flex;	
	gap: 0 4px;	
}
.footer-ul .footer-li{
	width:44px;
	height: auto;
}
.footer-li a{	
	display:block;
	width:100% ;
	height: auto;
	aspect-ratio: 1/1;	
	text-decoration: none;
}
.footer-li a:hover{	
	border-bottom: 2px solid #6C757D;
}
.images{
	width: 100%;
}
.footer-bottom{	
	text-align: center;
	padding: 24px 0;
}
@media (max-width: 996px) {
  .footer-top{
	flex-wrap: wrap;	
	justify-content: center;
  }	 
}
@media (max-width: 768px) {
  .footer-top{
	display: none;	
  }	 
} 